<?xml version="1.0"?>
<robot name="cluerosity" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Includes -->
    <xacro:include filename="$(find cluerosity_description)/urdf/meshes.xacro" />
    <xacro:include filename="$(find cluerosity_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find cluerosity_description)/urdf/visual.xacro" />
    <xacro:include filename="$(find cluerosity_description)/urdf/physics.xacro" />    
    <xacro:include filename="$(find cluerosity_description)/urdf/wheels.xacro" />
    <xacro:include filename="$(find cluerosity_description)/urdf/cluerosity_links.xacro" />


    <!-- Properties -->
    <xacro:property name="PI" value="3.14159265359" />

    <!-- 
        +=====================+
        |      Base Link      |
        +=====================+ 
    -->
    <xacro:base_link mesh_name="${robot_base}"/>


    <!-- 
        +=====================+
        |     Wheel Shaft     |
        +=====================+ 
    -->
    <xacro:cluerosity_shaft 
        name="front_shaft" 
        joint_xyz="0.350 0 0.05" />

    <xacro:cluerosity_shaft 
        name="rear_shaft" 
        joint_xyz="-0.20 0 0.05" />


    <!-- 
        +=====================+
        |   Wheel definition  |
        +=====================+ 
    -->

    <!-- Right Front Wheel -->
    <xacro:cluerosity_wheel 
        name="right_front_wheel" 
        tyre_xyz="-0.14686986 0 0" tyre_rpy="${PI/2} 0 ${-PI/2}" 
        rim_xyz="0 0 0" rim_rpy="0 0 0" 
        joint_xyz="0.35 -0.30 0.05" joint_rpy="0 0 0" />

    <!-- Right Rear Wheel -->
    <xacro:cluerosity_wheel 
        name="right_rear_wheel" 
        tyre_xyz="-0.14686986 0 0" tyre_rpy="${PI/2} 0 ${-PI/2}" 
        rim_xyz="0 0 0" rim_rpy="0 0 0" 
        joint_xyz="-0.20 -0.30 0.05" joint_rpy="0 0 0" />

    <!-- Left Front Wheel -->
    <xacro:cluerosity_wheel 
        name="left_front_wheel" 
        tyre_xyz="-0.14686986 0 0" tyre_rpy="${PI/2} 0 ${-PI/2}" 
        rim_xyz="0 0 0" rim_rpy="0 0 ${PI}" 
        joint_xyz="0.35 0.30 0.05" joint_rpy="0 0 0" />

    <!-- Left Rear Wheel -->
    <xacro:cluerosity_wheel 
        name="left_rear_wheel" 
        tyre_xyz="-0.14686986 0 0" tyre_rpy="${PI/2} 0 ${-PI/2}" 
        rim_xyz="0 0 0" rim_rpy="0 0 ${PI}" 
        joint_xyz="-0.20 0.30 0.05" joint_rpy="0 0 0" />


    <!-- 
        +=====================+
        |   Sensor Gimbal     |
        +=====================+ 
    -->

    <!-- Gimbal Base  -->
    <xacro:gimbal_base />

    <!-- Gimbal Axle  -->
    <xacro:gimbal_axle mesh_name="${gimbal_axle}"/>

    <!-- Gimbal Sensor Housing  -->
    <xacro:sensor_housing mesh_name="${sensor_housing}" />

    <!-- Stepper Motor -->
    <xacro:fixed_link 
        name="stepper_motor" 
        link_xyz="0 0 0" link_rpy="0 ${PI/2} 0" 
        mesh_name="${stepper_motor}" 
        joint_xyz="-0.10 0 0.19" joint_rpy="0 0 0" 
        parent="gimbal_axle" />


    <!-- 
        +=======================+
        | Velodyne LiDAR Sensor |
        +=======================+ 
    -->   

    <!-- LiDAR Base -->
    <xacro:fixed_link 
        name="lidar_base" 
        link_xyz="-0.075 0 0.05" link_rpy="0 ${PI} ${PI/2}" 
        mesh_name="${lidar_base}" 
        joint_xyz="-0.325 0.140 0.25" joint_rpy="0 0 0" 
        parent="base_link" />

    <!-- LiDAR Sensor -->
    <xacro:fixed_link 
        name="lidar_sensor" 
        link_xyz="0 0 0" link_rpy="0 0 0" 
        mesh_name="${lidar_sensor}" 
        joint_xyz="-0.2 0 0.05" joint_rpy="0 0 0" 
        parent="lidar_base" />

</robot>