<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="robot_base" value="package://cluerosity_description/meshes/robot_base.dae" />
    <xacro:property name="tyre" value="package://cluerosity_description/meshes/tyre.dae" />
    <xacro:property name="rim" value="package://cluerosity_description/meshes/rim.dae" />
    <xacro:property name="gimbal_axle" value="package://cluerosity_description/meshes/gimbal_axle.dae" />
    <xacro:property name="stepper_motor" value="package://cluerosity_description/meshes/stepper_motor.dae" />
    <xacro:property name="sensor_housing" value="package://cluerosity_description/meshes/sensor_housing.dae" />
    <xacro:property name="lidar_base" value="package://cluerosity_description/meshes/lidar_base.dae" />
    <xacro:property name="lidar_sensor" value="package://cluerosity_description/meshes/velodyne_lidar.dae" />
    <xacro:property name="motor" value="package://cluerosity_description/meshes/motor.dae" />
    <xacro:property name="motor_connector_01" value="package://cluerosity_description/meshes/motor_connector_01.dae" />
    <xacro:property name="motor_connector_02" value="package://cluerosity_description/meshes/motor_connector_02.dae" />
    <xacro:property name="link_01" value="package://cluerosity_description/meshes/link_01.dae" />
    <xacro:property name="link_02" value="package://cluerosity_description/meshes/link_02.dae" />
    <xacro:property name="end_effector_connector" value="package://cluerosity_description/meshes/end_effector_connector.dae" />

</robot>