<?xml version="1.0"?>
<launch>
    <!-- Choose simulation world-->
    <arg name="sim_world" default="$(find cluerosity_gazebo)/worlds/clearpath_playpen.world" />

    <include file="$(find cluerosity_description)/launch/display.launch">
        <arg name="rviz_config" value="$(find cluerosity_slam)/config/slam_toolbox_default.rviz" />
    </include>

    <include file="$(find cluerosity_gazebo)/launch/gazebo.launch">
        <arg name="sim_world" value="$(arg sim_world)" />
        <!-- Spawn Coordinate-->
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0.115" />
    </include>

    <include file="$(find cluerosity_slam)/launch/slam_toolbox.launch" />

</launch>