<?xml version="1.0"?>
<launch>
    <include file="$(find cluerosity_slam)/launch/gmapping_demo.launch">
        <arg name="rviz_config" value="$(find cluerosity_navigation)/config/explorer.rviz" />
    </include>
    <include file="$(find cluerosity_navigation)/launch/move_base2.launch"/>
    <include file="$(find explore_lite)/launch/explore.launch"/>
</launch>