<?xml version="1.0"?>
<launch>

    <!-- Spawn Coordinate-->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.115" />

    <!-- Choose simulation world-->
    <arg name="sim_world" default="$(find cluerosity_gazebo)/worlds/clearpath_playpen.world" />

    <!-- Choose robot type -->
    <arg name="type" default="explorer" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg sim_world)" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <group if="$(eval type == 'investigator')">
        <arg name="model" value="$(find cluerosity_description)/urdf/cluerosity_manipulator.xacro" />

        <include file="$(find cluerosity_gazebo)/launch/spawn.launch">
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>

    <group if="$(eval type == 'explorer')">
        <arg name="model" value="$(find cluerosity_description)/urdf/cluerosity.xacro" />

        <include file="$(find cluerosity_gazebo)/launch/spawn.launch">
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>


    <group if="$(eval type == 'investigator')">
        <rosparam file="$(find cluerosity_description)/config/motors_config.yaml" command="load" ns="/cluerosity" />

        <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="--namespace=/cluerosity
        joint_state_controller
        joint1_position_controller
        joint2_position_controller
        joint3_position_controller
        joint4_position_controller
        joint5_position_controller
        joint6_position_controller
        joint7_position_controller"></node>
    </group>

    <group if="$(eval type == 'explorer')">
        <rosparam file="$(find cluerosity_description)/config/motors_config.yaml" command="load" ns="/cluerosity" />

        <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="--namespace=/cluerosity
        joint_state_controller
        joint6_position_controller
        joint7_position_controller"></node>
    </group>


</launch>