<?xml version="1.0"?>
<launch>

    <!-- Choose visualization -->
    <arg name="rviz_config" default="$(find cluerosity_description)/config/config.rviz" />

    <!-- Choose robot type -->
    <arg name="type" default="explorer" />

    <group if="$(eval type == 'investigator')">
        <param name="robot_description" command="$(find xacro)/xacro '$(find cluerosity_description)/urdf/cluerosity_manipulator.xacro'" />
    </group>
    
    <group if="$(eval type == 'explorer')">
        <param name="robot_description" command="$(find xacro)/xacro '$(find cluerosity_description)/urdf/cluerosity.xacro'" />
    </group>

    <!-- Show in Rviz  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
</launch>